<footer class="bg-black text-white p-3">
    <div class="row text-center">
        <div class="col-4"><img src="../../assets/img/logo.png" alt="logo">
            <p>Il tuo autosalone di Fiducia</p>
            <p>Via tal dei tali</p>
            <p>000100 Torino</p>
        </div>
        <div class="col-4">
            <a routerLink="/" routerLinkActive="active" class="border-end px-3 text-decoration-none text-white">Home</a>
            <a routerLink="/audiComponent" routerLinkActive="active" class="border-end px-3 text-decoration-none text-white">Audi</a>
            <a routerLink="/fiatComponent" routerLinkActive="active" class="border-end px-3 text-decoration-none text-white">Fiat</a>
            <a routerLink="/fordComponent" routerLinkActive="active" class="border-end px-3 text-decoration-none text-white">Ford</a>
        </div>
        <div class="col-4">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi,
                nulla omnis pariatur reiciendis fugiat natus error officiis
                alias ducimus culpa consectetur est enim ullam. Animi nobis
                incidunt quaerat ipsa repudiandae.
            </p>
        </div>
    </div>
</footer>